*{margin: 0;
    padding: 0;}
  /*variables*/
  $medida1:100%;
  $colorFondo:rgb(255, 255, 255);
  /*mixin*/
  @mixin contenido {  
    margin: 0;
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color:$colorFondo;
    
  }
   body{
     @include contenido;
     
    .navbar{
      grid-area:navbar;
      margin-top: 15px;
    }
     .encabezado {
        position: relative;
        width:$medida1;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom,  75%, #000000 100%);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
      }
      .historia-section{
        margin-top: 5rem;
  
      }
     
      .tienda-section {
        padding: 10rem 0;
      
      }
    h1{ 
      font-size: 50px;
      text-align: center;
      font-family: 'Faster One', cursive;
      color: rgb(177, 42, 42);
     width:$medida1 - 20;
     height: 100px;
  }
  .h3{
    color: rgb(177, 42, 42);
  }
  .h5{
    background-color: #ffffff;
  }
  
  .contacto-section {
    padding-top: 10rem;
  }
  
  .social {
    margin-top: 5rem;
  }
  .social a {
    text-align: center;
    height: 5rem;
    width: 5rem;
    background:rgb(0, 0, 0);
    border-radius: $medida1;
    line-height: 5rem;
    color:$colorFondo;
  }
   .social a:hover {
    color: rgba(245, 27, 27, 0.5);
  }
   .social a:active {
    color: rgb(238, 12, 12);
  }
  
  
   }
  
   
   